* {
    box-sizing: border-box;
  }
  
  /* Create two equal columns that floats next to each other */
  .second {
    float: left;
    width: 40%;
    padding: 0px;
    height: 220px; /* Should be removed. Only for demonstration */
  }
  @media screen and (max-width:600px) {
    .second{
        
    float: left;
    width: 40%;
    padding: 0px;
    height: 220px;
    }

      
  }
  .first{
      width: 1100px;
      padding-left: 300px;
  }
  @media screen and (max-width:600px) {
    .first{
        width: 1100px;
    }

      
  }
  .hello{
      margin-left: 250px;
      height: 200px;
      width: 500px;
      margin-bottom: 100px;
  }
  .smiley{
      width: 40px;
      height: 50px;

  }
  @media screen and (max-width:600px) {
    .smiley{
        
      width: 20px;
      height: 20px;
    }

      
  }
  /* Clear floats after the columns */
  .first:after {
    content: "";
    display: table;
    clear: both;
  }
  .col{
      margin-left: 350px;
      margin-right: 300px;
  }
.head{
    margin-right: 10px;
}
  .fea{
      margin-left: 250px;
      width: 400px;
  }
  .mine{
      width: 150px;
      margin-left: 40px;
  }
  .mine1{
      
    width: 150px;
    margin-left: 40px;

  }
  .container-fluid{
      margin-top: 50px;
      margin-bottom: 50px;
  }
  .foot{
      margin-left: 500px;
      margin-bottom: 75px;
  }
  .trends{
      margin-top: 50px;
      margin-left: 280px;
  }
  @media screen and (max-width:600px) {
    .trends{
        margin-top: 50px;
        margin-left: 70px;
    }
  }
  .trendkey{
      width: 900px;
      margin-left: 90px;
  }

  @media screen and (max-width:600px) {
    .trendkey{
        
      width: 450px;
      margin-left: 20px;
    }
  }

  .imaged{
      margin-left: 100px;
  }
.feat{
  margin-top: 150px;
  margin-bottom: 75px;
}
.fim{
  width: 50px;
  height: 50px;
  margin-left: 20px;
}
@media screen and (max-width:600px) {
  .fim{
    margin-top: 18px;
  }
  
}